Reset styles*/
* *{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* Fonts */

/* @font-face {
    font-family: 'Poppins';
    src: url('/fonts/AnyConv.com__Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/AnyConv.com__Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/AnyConv.com__Poppins-Italic.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/AnyConv.com__Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/AnyConv.com__OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
} */

/* General */
body {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}


/* Header */

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
    max-width: 940px;
	margin: 0 auto;
}
.header__menu {
    left: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.header__logo {
    font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 45px;
	letter-spacing: 1.1px;
	text-transform: lowercase;
	color: #222222;
} 


.nav__link {
    font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 0.2px;
	text-transform: lowercase;
	color: #222222;
}

.nav__link:hover {
    color: #FD8558;
} 

.nav-link:active {
    color: #FD8558;
}


/* Hero */

.container__hero {
    padding-top: 247.5px;
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.hero {
    padding-left: 10px;
    height: 950px;
	max-width: 1440px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.hero__title {
    text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	line-height: 85px;
    margin-bottom: 40px;
	color: #FFFFFF;
}

.hero__wrapper {
    display: flex;
	width: 332px;
	justify-content: space-between;
}

.hero--btn {
    border: 2px solid #FD8558;
	width: 150px;
	line-height: 52px;
	text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	transition: ease 0.3s;
}

.hero--btn > a {
	color: #FFFFFF;
	display: inline-block;
	width: 100%;
}

.hero--btn > a:hover{
	background-color: #FD8558;
	transition: ease 0.3s;
}
.hero--btn > a:active{
	background-color: #FD8558;
	transition: ease 0.3s;
}